 .logo {
     display: inline-flex;

     font-family: var(--font-page-logo), sans-serif;
     font-weight: 700;
     font-size: 26px;
     line-height: 1.19;

     &--indent {
         margin-right: 10px;
     }

     &--dark {
         color: var(--color-text-black);
     }

          &--wite {
         color: var(--color-text-wite);
     }
 }
 .logo-web {
     color: var(--color-hightlight);
 }